<header class="relative bg-indigo-800">
  <div class="absolute inset-0">
    <img class="w-full h-full object-cover"
         src="https://images.unsplash.com/photo-1604329051903-d89ddd523330?ixlib=rb-1.2.1&ixqx=38PKuq5PMN&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1920&q=60&&sat=-100"
         alt="">
    <div class="absolute inset-0 bg-blue-500" style="mix-blend-mode: multiply;" aria-hidden="true"></div>
  </div>
  <div class="relative max-w-7xl mx-auto py-24 px-4 sm:py-32 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-extrabold tracking-tight text-white sm:text-5xl lg:text-6xl">Sébastien DEU</h1>
    <p class="mt-6 text-xl text-indigo-100 max-w-3xl">
      DevOps à tout faire 🛠
    </p>
  </div>
</header>
